<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head', {title: 'Home | Inktale'}) %>

    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <!-- #TOP APP BAR -->
    <%- include('../partials/top_app_bar') %>

    <!-- #MAIN -->
    <main class="main"></main>

    <!-- #FOOTER -->
    <%- include('../layouts/footer') %>
  </body>
</html>
